<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LDAP All-For-One Manager</title>
    {{
      encore_entry_link_tags("app")
    }}
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/app_icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/app_icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/app_icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/app_icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/app_icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/app_icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/app_icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/app_icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="/app_icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/app_icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/app_logo-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/app_logo-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/app_logo-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/app_logo-16x16.png"
    />
    <link rel="mask-icon" color="#a90302" href="/safari-pinned-tab.svg" />
    <meta name="msapplication-TileColor" content="#5ba550" />
    <meta name="msapplication-TileImage" content="/app_tile-144x144.png" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#5ba550" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, minimal-ui"
    />
    {% if matomo_url and matomo_url != '#' and matomo_site_id %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function() {
        var u = "{{ matomo_url }}";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "{{ matomo_site_id }}"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        {% if matomo_script_url and matomo_script_url != '#' %}
        g.src = "{{ matomo_script_url }}";
        {% else %}
        g.src = u + 'matomo.js';
        {% endif %}
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    {% endif %} {% if google_analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{
        google_analytics_id
      }}"
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ google_analytics_id }}");
    </script>
    {% endif %}
  </head>
  <body>
    <div id="app"></div>
    <script src="{{ path('pwa') }}"></script>
    <noscript>Please enable JavaScript to continue using this application.</noscript>
    {{ encore_entry_script_tags("app") }}
  </body>
</html>
